/.venv
/app.db
/*.pyc
/.vscode/
/env/
/env.bak/
/.env
.idea/
.vscode/
App/app/__pycache__/*
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
app/features/auth/__pycache__/
app/features/tasks/__pycache__/
app/__pycache__/
